<!DOCTYPE html>
<html>
	<head>
		<title>My book shelf</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>
	<body>
		<h1>Welcome to my Book shelf</h1>
		<hr>
		<table class="table table-striped table-bordered" id="course-list-table">
			<thead>
				<tr>
				  <td>S.N</td>
				  <td>Title</td>
				  <td>Author</td>
				  <td>Genre</td>
				  <td>Description</td>
				  <td>Date</td>
				  <td>Action</td>
				</tr>
			</thead>
			<tbody>
			<% books.forEach(function(book, i) { %>
				<tr>
					<td><%= i + 1 %></td>
					<td><%= book.title %></td>
					<td><%= book.author %></td>
					<td><%= book.genre %></td>
					<td><%= book.description %></td>
					<td><%= book.create_date %></td>
					<td><a href="/books/delete/<%=book._id%>">Delete</a></td>
				</tr>
			<% }) %>

			</tbody>
		</table>

		<hr>

		<form method="post" action="/books/insert">
			<div class="form-group row">
	  			<label for="title-input" class="col-2 col-form-label">Title</label>
				<div class="col-10">
					<input class="form-control" type="text" name="title" id="title-input">
				</div>
			</div>
			<div class="form-group row">
	  			<label for="author-input" class="col-2 col-form-label">Author</label>
				<div class="col-10">
					<input class="form-control" type="text" name="author" id="author-input">
				</div>
			</div>
			<div class="form-group row">
	  			<label for="genre-input" class="col-2 col-form-label">Genre</label>
				<div class="col-10">
					<input class="form-control" type="text" name="genre" id="genre-input">
				</div>
			</div>
			<div class="form-group row">
	  			<label for="description-input" class="col-2 col-form-label">Description</label>
				<div class="col-10">
					<input class="form-control" type="text" name="description" id="description-input">
				</div>
			</div>

			<div class="form-group row">
				<label for="date-input" class="col-2 col-form-label">Date</label>
				<div class="col-10">
					<input class="form-control" type="date" name="date" id="date-input">
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-lg" name="action">Add Book</button>
		</form>
	</body>
</html>
