<!DOCTYPE html>
<html>
	<head>
		<title>My book shelf</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>
	<body>
		<h1>Welcome to my Book shelf</h1>
		<p>list of Books</p>
		<ol>
			<% books.forEach(function(book, i) { %>
			<li> <%= book.title %> </li>
				<ul>
					<li> Author: <%= book.author %> </li>
					<li> Genre: <%= book.genre %> </li>
					<li> Description: <%= book.description %> </li>
					<li> Created Date: <%= book.create_date %> </li>
				</ul>
				<br>
			<% }) %>
		</ol>
		<hr>
		<form method="post" action="/insert">
			Title: <input id="test1" type="text"><br>
			Author: <input id="test2" type="text"><br>
			Genre: <input id="test3" type="text"><br>
			Description: <input id="test4" type="text"><br>
			Date: <input id="test5" type="text"><br>
		</form>
		<button type="submit" name="action">Add Book</button>

		<form method="post" action="/insert">
			<div class="form-group row">
	  			<label for="example-text-input" class="col-2 col-form-label">Text</label>
				<div class="col-10">
					<input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
				</div>
			</div>

			<div class="form-group row">
				<label for="example-date-input" class="col-2 col-form-label">Date</label>
				<div class="col-10">
					<input class="form-control" type="date" value="2011-08-19" id="example-date-input">
				</div>
			</div>
		</form>
	</body>
</html>
